USE [master]
GO
/****** Object:  Database [DBNahalestan]    Script Date: 02/11/1397 07:20:00 ب.ظ ******/
CREATE DATABASE [DBNahalestan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBNahalestan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBNahalestan.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBNahalestan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBNahalestan_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBNahalestan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBNahalestan]
GO
/****** Object:  Table [dbo].[MatnSite]    Script Date: 02/11/1397 07:20:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatnSite](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Onvan] [nvarchar](100) NULL,
	[Matn] [nvarchar](max) NULL,
 CONSTRAINT [PK_MatnSite] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 02/11/1397 07:20:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPass] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[UserFirestName] [nvarchar](max) NULL,
	[UserLastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
